<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>i星座.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>853490FF1CA61FCD00F68B3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>853491181CA61FCD00F68B3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>853491231CA61FCD00F68B3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
